<footer class="footer">
  <div class="wrap">
    <div class="logo">
      Logo
    </div>
    <div>
      <h3>Product sites</h3>
      <ul>
        <li>3scale</li>
        <li>Che</li>
        <li>EnMasse</li>
        <li>Fuse Online</li>
        <li>Launcher</li>
        <li>RH-SSO</li>
        <li>Solution Explorer</li>
        <li>Apicurito</li>
        <li>Nexus</li>
      </ul>
    </div>
    <div>
      <h3>Community</h3>
      <ul>
        <li>Github</li>
        <li>Jira Repo Issues</li>
        <li>Contribution Guide</li>
        <li>Google Group</li>
        <li>IRC</li>
      </ul>
    </div>
    <div>
      <h3>Social</h3>
      <ul>
        <li>Twitter</li>
        <li>YouTube</li>
        <li>Feed</li>
      </ul>
    </div>
  </div>
  <hr />
  The Integreatly project is licensed under the Apache 2.0 License, and is subject to the <a href="">Export Policy</a>.
</footer>