<footer class="footer">
  <div class="wrap">
  <div>
    Red Hat
  </div>
  <div>
    <h4>Products</h4>
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
  </div>
  <div>
    <h4>Community</h4>
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
  </div>
  <div>
    <h4>Social</h4>
    <ul>
      <li>link</li>
      <li>link</li>
      <li>link</li>
      <li>link</li>
    </ul>
  </div>
  </div>
  <hr />
  The Integreatly project is licensed under the Apache 2.0 License, and is subject to the Export Policy.
</footer>