footer.footer {
  font-size: 0.85rem;
  background-color: var(--color-navbar-bg);
  color: var(--color-navbar-text);
  padding: 1rem;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
}

.footer div {
  flex: 1;
}

.footer .logo {
  background: url(..images/Logo-RedHat-A-Reverse-RGB.svg);
  flex: 2;
}

.footer h3 {
  color: #89939a;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--color-navbar-text);
}

.footer a:hover {
  color: #5d5d5d;
}
